.sobreatlas0
    {
        border: solid #bfbfbfff;
         margin: 0 px;
         background-image:  linear-gradient(rgba(0, 0, 0, 0.7)), url("../fundo/GIFATLAS.gif");
        background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
    }

.sobreatlas1
    {
        display: flex;       
        flex-wrap: wrap; 
        gap: 30px;              
        margin-bottom: 50px;
        margin: 80px;
        padding: 20px;
    }

.sobreatlas2
    {
        display: flex;
        flex-direction: column; /* Força um texto para baixo do outro */
        gap: 15px;             /* Cria um espaço entre os parágrafos */
        flex: 1;               /* Faz os textos preencherem o resto da largura */
        background-color: #252525ff;
    }


.logo2
    {
        width: 400px;
        height: 400px;
    }

footer{
    text-align:center;
}

